.product-area-title{
    padding-bottom: 70px;
    p{
        color: #777777;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5em;
        margin-top: 0;
        margin-bottom: 16px;
    }
    h2{
        font-size: 36px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 600;
        color: #222222;
        @include media-breakpoint-down(sm){
            font-size: 26px;
        }
    }
}