.footer{
    padding: 3em 0;
    position: relative;
    background: $theme-color;
    color: $white;
    p{
        margin-bottom: 30px;
        a{
            padding: 10px;
            font-size: 30px;
            color: rgba(255,255,255,.4);
            -webkit-transition: .3s all;
            transition: .3s all;
            text-decoration: none;
            &:hover{
                i{
                    color: $white;
                    -webkit-transition: .3s all;
                    transition: .3s all;
                }
            }
        }
    }
    .footer-details{
        color: $white;
        font-size: 16px;
        line-height: 1.7;
        font-weight: 600;
        text-align: center;
        a{
            color: rgba(255,255,255,.4);
            text-decoration: none;
            -webkit-transition: .3s all;
            transition: .3s all;
            &:hover{
                color: $white;
                -webkit-transition: .3s all;
                transition: .3s all;
            }
        }
    }
}